body{
	background-image: url(../images/jigsaw-intro.jpg);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
 }

h1{
font-family: 'Nosifer', cursive;
color: #8A0707;
font-size: 50px;

}

.panel {
    background-image: none;
    background-color: red;
    color: white;
    border: none;
    margin-top:200px;

}

